mixin rating(props = {})
  -
    const {
      id, 
      currentStars = 0,
      isStatic = true
    } = props;

  .rating&attributes(attributes)
    if (!isStatic)
      span.rating__group
        each val, index in { 1: 'Ужасно', 2: 'Сносно', 3: 'Нормально', 4: 'Хорошо', 5: 'Отлично' }
          input.rating__input(
            type="radio",
            name=id,
            id=`${id}-${index}`,
            value=index,
            checked=(index == currentStars)
            disabled=(isStatic)
          )
          label.rating__star(for=`${id}-${index}`, aria-label=val)
    else
      span.rating__group-static
        each val, index in [1, 2, 3, 4, 5]
          -
            let classes = 'rating__star-static';
            classes += (index + 1) <= currentStars ? ' rating__star-static--active': '';
          span(class=classes)