mixin rating(props = {})
  -
    const {
      id = 'rating', 
      currentStars = 0,
      isStatic = false
    } = props;

    let classes = 'rating__star';
    classes += isStatic ? ' rating__star--static' : '';

  .rating&attributes(attributes)
    span.rating__group
      each val, index in { 1: 'Ужасно', 2: 'Сносно', 3: 'Нормально', 4: 'Хорошо', 5: 'Отлично' }
        input.rating__input(
          type="radio",
          name=id,
          id=`${id}-${index}`,
          value=index,
          checked=(index == currentStars)
          disabled=(isStatic)
        )
        label(class=classes, for=`${id}-${index}`, aria-label=val)