include ../field-text/field-text

mixin date-dropdown(props = {})

  -
    const {
      mods = '',
      inputStart = {
        title: 'Date dropdown',
        attrs: {
          placeholder: 'ДД.ММ.ГГГГ'
        }
      },
      inputEnd = {
        title: 'Date dropdown',
        attrs: {
          placeholder: 'ДД.ММ.ГГГГ'
        }
      }
    } = props;

    let allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      allMods = mods.split(',').map(el => `dropdown--${el.trim()}`).join(' ');
    }

  .date-dropdown(class=allMods)&attributes(attributes)
    .date-dropdown__group
      .date-dropdown__item
        span.date-dropdown__name!= inputStart.title
        span.date-dropdown__input-wrap
          input.date-dropdown__input(class="date-dropdown__input-start", type="text", readonly=true)&attributes(inputStart.attrs)
      .date-dropdown__item
        span.date-dropdown__name!= inputEnd.title
        span.date-dropdown__input-wrap
          input.date-dropdown__input(class="date-dropdown__input-end", type="text", readonly=true)&attributes(inputEnd.attrs)