mixin date-dropdown(props = {})
  -
    const { 
      isFilter = false,
      titleFilter = '',
      titleStart = '',
      titleEnd = '',
      attrs
    } = props;

    let classes = 'date-dropdown';
    classes += isFilter ? ' js-date-dropdown-filter' : ' js-date-dropdown';
    
  div(class=classes)&attributes(attributes)
    if (!isFilter)
      span.date-dropdown__group
        label.date-dropdown__label
          if (titleStart)
            span.date-dropdown__title!= titleStart
          span.date-dropdown__input-wrap
            input.date-dropdown__input.js-date-dropdown__input-start(type=(typeof(attrs) !== 'undefined' && attrs.type) ? attrs.type : 'text', readonly=true)&attributes(attrs)
        label.date-dropdown__label
          if (titleEnd)
            span.date-dropdown__title!= titleEnd
          span.date-dropdown__input-wrap
            input.date-dropdown__input.js-date-dropdown__input-end(type=(typeof(attrs) !== 'undefined' && attrs.type) ? attrs.type : 'text', readonly=true, tabindex='-1')&attributes(attrs)
    else
      label.date-dropdown__label
        if (titleFilter)
          span.date-dropdown__title!= titleFilter
        span.date-dropdown__input-wrap
          input.date-dropdown__input.js-date-dropdown__input-filter(type=(typeof(attrs) !== 'undefined' && attrs.type) ? attrs.type : 'text', readonly=true)&attributes(attrs)