mixin field-checkbox(props = {})
  -
    const { 
      isRich = false,
      title = '',
      checkboxes = [
        { 
          title: 'Можно с питомцами',
        },
        { 
          title: 'Можно с питомцами',
          attrs: {
              checked: true
          }
        }
      ]
    } = props;

    let fieldCheckboxClassName = 'field-checkbox';
    fieldCheckboxClassName += isRich ? ' field-checkbox--rich' : '';

  div(class=fieldCheckboxClassName)&attributes(attributes)
    if (title)
      .field-checkbox__title!= title
    each checkbox in checkboxes
      -
        const { 
          title = '',
          text = '',
          attrs
        } = checkbox;

      .field-checkbox__input-wrap(class=allMods)
        label.field-checkbox__label
          input.field-checkbox__input(type="checkbox")&attributes(attrs)
          span.field-checkbox__text!= title
          if (text)
            span.field-checkbox__add-text!= text