include ../like-button/like-button

mixin comment(props = {})
  -
    const { 
      username = 'Имя пользователя',
      text = 'Великолепный матрас на кровати в основной спальне!',
      avatar = 'comment-noavatar.gif',
      date = 'сегодня',
      likeButton = { count: 0 }
    } = props;

  .comment&attributes(attributes)
    .comment__user-avatar-wrap
      img.comment__user-avatar(src=require(`../components/comment/img/${avatar}`), alt="avatar", width="48", height="48")
      span.comment__like-button
        +like-button(likeButton)
    .comment__body
      span.comment__user-name!= username
      span.comment__date!= date
      p.comment__text!= text