mixin field-text(props = {})
  -
    const { 
      title = '',
      helpText = '',
      isTextarea = false,
      isHovered = false,
      isMask = false,
      attrs
    } = props;

    let classes = 'field-text';
    classes += isHovered ? ' field-text--hovered' : '';

    let classesInput = 'field-text__input';
    classesInput += isMask ? ' js-field-text-mask' : '';
    
    
  label(class=classes)&attributes(attributes)
    if (title && !helpText)
      span.field-text__title!= title
    else if (title && helpText)
      span.field-text__heading
        span.field-text__title!= title
        span.field-text__help-text!= helpText
    span.field-text__input-wrap
      if (isTextarea)
        textarea(class=classes)&attributes(attrs)
      else
        input(class=classesInput, type=(typeof(attrs) !== 'undefined' && attrs.type) ? attrs.type : 'text')&attributes(attrs)
      block