mixin field-text(props = {})
  -
    const { 
      title = '',
      helpText = '',
      isTextarea = false,
      isHovered = false,
      attrs
    } = props;

    let fieldTextClassName = 'field-text';
    fieldTextClassName += isHovered ? ' field-text--hovered' : '';
    
  label(class=fieldTextClassName)&attributes(attributes)
    if (title && !helpText)
      span.field-text__title!= title
    else if (title && helpText)
      span.field-text__heading
        span.field-text__title!= title
        span.field-text__help-text!= helpText
    span.field-text__input-wrap
      if (isTextarea)
        textarea(class=fieldTextClassName)&attributes(attrs)
      else
        input.field-text__input(type=(typeof(attrs) !== 'undefined' && attrs.type) ? attrs.type : 'text')&attributes(attrs)
      block