mixin field-text(props = {})

  -
    const { 
      mods = '', 
      title = '',
      helpText = '',
      isTextarea = false,
      attrs = {},
      val 
    } = props;
    
    let allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      allMods = mods.split(',').map(el => `field-text--${el.trim()}`).join(' ');
    }

  label.field-text(class=allMods)&attributes(attributes)
    if (typeof(title) !== 'undefined' && title)
      span.field-text__heading
        span.field-text__name!= title
        if (typeof(helpText) !== 'undefined' && helpText)
          span.field-text__help-text!= helpText
    span.field-text__input-wrap
      if (typeof(isTextarea) !== 'undefined' && isTextarea)
        textarea.field-text__input&attributes(attrs)= val
      else
        input.field-text__input(type=(typeof(attrs) !== 'undefined' && attrs.type) ? attrs.type : 'text', value=val)&attributes(attrs)
      block